* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Fira Code", monospace;
  min-height: 100vh;
}

a {
  color: #4ade80;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
