* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Fira Code', monospace;
  min-height: 100vh;
}

a {
  color: #4ade80;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

input {
  font-family: inherit;
  font-size: inherit;
}

ul {
  padding-top: 0.5rem;
  padding-left: 2rem;
}

li {
  list-style: none;
}

.command-list {
  display: grid;
  grid-template-columns: 8rem auto;
  gap: 1rem;
}

.command-name {
  color: cyan;
}

.skill-category {
  padding-top: 2rem;
}

.skill-items {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  padding-top: 0.25rem;
}
